@model IEnumerable<MedicalAppointmentApp.Web.Models.AvailabilityModeModel>

@{
    ViewData["Title"] = "Lista de Modos de Disponibilidad";
}

<h1>Modos de Disponibilidad</h1>

<p>
    <a asp-action="Create">Crear Nuevo Modo de Disponibilidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AvailabilityModeID)</th>
            <th>@Html.DisplayNameFor(model => model.ModeName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AvailabilityModeID)</td>
                <td>@Html.DisplayFor(modelItem => item.ModeName)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.AvailabilityModeID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.AvailabilityModeID })
                </td>
            </tr>
        }
    </tbody>
</table>
