@model IEnumerable<MedicalAppointmentApp.Web.Models.SpecialtyModel>

@{
    ViewData["Title"] = "Lista de Especialidades";
}

<h1>Especialidades</h1>

<p>
    <a asp-action="Create">Crear Nueva Especialidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SpecialtyID)</th>
            <th>@Html.DisplayNameFor(model => model.SpecialtyName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SpecialtyID)</td>
                    <td>@Html.DisplayFor(modelItem => item.SpecialtyName)</td>
                    <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.SpecialtyID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.SpecialtyID })
                    </td>
                </tr>
        }
    </tbody>
</table>
